@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.footer_container{
    @apply relative flex items-center justify-center flex-col bg-color-4 pt-56 mt-72;
}
.footer_title {
    @apply text-2xl font-bold capitalize mb-12 text-left text-[#ffffff];
}
.footer_links{
    @apply text-left capitalize text-xl leading-8;
}
.footer_card{
    @apply p-4 rounded-lg drop-shadow-lg sm:drop-shadow-none bg-gradient-to-tr from-[#BBDFC5] to-[#FF579F] md:bg-none md:p-0;
}
.footer_card_container{
    @apply list-none w-11/12 max-w-7xl grid grid-cols-footer-card gap-4 lg:gap-8 xl:gap-12 sm:px-2;
}
.footer_copyright_container{
    @apply pb-6 pt-6  w-full max-w-7xl mt-20 border-t-2  border-gray-100;
}
.stack_card{
    @apply rounded-tl-cus_radius-big rounded-br-cus_radius-big w-4/5 max-w-5xl absolute top-0 left-2/4 flex items-center flex-col md:justify-between md:flex-row gap-12 bg-[#14342B] p-12 md:p-24 text-gray-100;
}
.stack_button{
    @apply cursor-pointer uppercase font-bold bg-[#BBDFC5] rounded-tr-cus_radius rounded-bl-cus_radius px-10 py-4 text-[#14342B];
}
.align_card{
    transform: translate(-50%, -50%);

}
.border_animate{
    /* background-color: #ff4489; */
    padding-block: .5rem;
    position: relative;

}
.border_animate::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    color: azure;
    background-color: #ffffff;
    left: 0%;
    top: 0%;
    transition: width 200ms ease-in;
}
.border_animate:hover::after{
    width: 100%;
}

/* ? Card hover Style */
.card{
    position: relative;
    transition: all 250ms 150ms ease-in;
}

.card:hover{
    color: #ffffff;
}
.card::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #14342B;
    left: 0;
    top: 0;
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
    transition: width 300ms ease-in;
    z-index: -1;
}
.card::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #14342B;
    right: 0;
    top: 0;
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;
    transition: width 300ms ease-in;
    z-index: -1;
}
.card:hover::after,.card:hover::before{
    width: 51%;
}


/* ! Header Section */
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(109% + 1.3px);
    height: 171px;
    transform: rotateY(180deg);
}

.wave .shape-fill {
    fill: #ffffff;
}
.lable{
    text-transform: capitalize;
    font-weight: bold;
    color: #1ed8a3;
    font-size: 1.1rem;
    transform: translate(50px, 0px , 0px, 0px);
}

@keyframes lable_animation {
    0%{
        transform: translateY();
    }
}


/* ? About Page */
.exp_card{
    @apply bg-[#ffff] rounded-tl-lg rounded-bl-cus_radius rounded-br-lg rounded-tr-cus_radius  flex items-center flex-col justify-center p-4 py-10 drop-shadow-xl scale-100 hover:scale-110 transition-all hover:rotate-6 duration-300 cursor-auto;
}
.exp_title{
    @apply text-2xl lg:text-4xl font-extrabold mb-3;
}

.exp_sub_title{
    @apply text-base font-bold text-color-1 capitalize;
}
.member{
    position: relative;
    border: 2px solid transparent;
    animation: animate_member 50s ease-in-out infinite alternate-reverse;
    transition: animation 50s ease-in-out , border 300ms ease-in;
}
@keyframes animate_member {
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateY(20px);
    }
    50%{
        transform: translateY(-20px);
    }
    75%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(-20px);
    }
}
.member:hover{
    transform: scale(1.7);
}
/* ? Contact Page */
.contact_card{
    @apply bg-gray-100 drop-shadow-lg rounded-md p-10 hover:-translate-y-4 ease-in duration-300;
}
.contact_button{
    @apply capitalize border-4 border-color-1 py-2 px-8 rounded-xl text-color-2 font-bold text-xl;
}


/* ! Popups */
.links{
    @apply list-none border-2 border-color-2 cursor-pointer p-1 rounded-lg;
}
.linkedin{
    transition: animation 300ms ease-in;
}
.github{
    animation: icon_animation 300ms ease-in 300ms 1 forwards;
    transition: animation 300ms ease-in;
}
.twitter{
    animation: icon_animation 300ms ease-in 600ms 1 forwards;
    transition: animation 300ms ease-in;
}
@keyframes icon_animation {
    0%{
        transform: translateY(60px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.pop{
    position: absolute;
    transform: scale(.5);
    opacity: 0;
    z-index: 1;
    transform-origin: bottom left;
    transition: opacity 300ms ease-in, transform 300ms ease-in;
}
.pop1{
    top: -128%;
    right: -40%;
}
.pop2{
    top: -184%;
    right: -90%;
}
.pop3{
    top: -98%;
    right: -15%;
}
.pop4{
    top: -142%;
    right: -45%;
}
.member:hover .pop{
    opacity: 1;
    transform: scale(1);
}
.pop::after{
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ffffff;
    top: 100%;
    left: 25%;
    transform-origin: top right;
    transform: rotate(45deg);
    z-index: -1;
}

/* ? Nav Links */
.navLink{
    animation: navlink 600ms ease-in 1 forwards;
    transition:  animation 600ms ease-in;
}
.navLink2{
    animation: navlink 600ms ease-in 400ms 1 forwards;
    transition:  animation 600ms ease-in;
}
.navLink3{
    animation: navlink 600ms ease-in 800ms 1 forwards;
    transition:  animation 600ms ease-in;
}
.navLink4{
    animation: navlink 600ms ease-in 1200ms  forwards;
    transition:  animation 600ms ease-in;
}

@keyframes navlink {
    0%{
        transform: translateX(-400%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
.nav{
    animation: navbar 1s ease-in 1 forwards;
}
@keyframes navbar {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}






